ul{
	margin : 0;
}
li{
	list-style: none;
}
input,textarea{
	width: 100%;
}
textarea{
	min-height: 400px;
}
.container{
	width: 600px;
	margin: auto;
}
.menu-item{
	float: left;
	padding: 10px 15px ;
}
.clearfix{
	clear: both;
}
.box{
	padding: 20px 0;
}